<%= render '/layouts/users' %>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="col-sm-1 d-flex flex-row"></div>
  <div class="col-sm-4 d-flex flex-row">

    <br>
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
          <div style="color:black">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
      </div>
      <br>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <div style="color:black">
          <%= f.password_field :password, autocomplete: "new-password" %>
        <div style="color:black">
      </div>
      <br>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <div style="color:black">
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>
      <br>

      <div class="field">
        <%= f.label :first_name %><br />
        <div style="color:black">
          <%= f.text_field :first_name %>
        </div>
      </div>
      <br>

      <div class="field">
        <%= f.label :last_name %><br />
        <div style="color:black">
          <%= f.text_field :last_name %>
        </div>
      </div>
      <br>
      <!-- #pick your role -->

      <div class="actions">
        <div style="color:black">
        <%= f.submit "Sign up" %>
        </div>
      </div>
    <% end %>

    <div style="color:black">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
