<%= render '/vacations/layout' %>

<div class="center" style="text-align:center">
  <div class="container">
    <div class="panel-a" text-black>
      <div class="panel-body">
        <div class="form" style="color:black">

          <p>Now editing <%= @user.first_name %>'s vacation:</p>
          <h2><%= @vacation.name %></h2>

          <%= form_for @vacation do |f| %>

          <div class="field<%= ' field_with_errors' if @vacation.errors[:name].any? %>">
            <div class="center" style="text-align:center">
              <div class="black_text">
              <%= f.label :name, "Vacation Name" %><br>
              <%= f.text_field :name %>
              <div class="black_text">
            </div>
          </div>
          <br>
          <br>

          <div class="center" style="text-align:center">
              <%= f.label :budget%><br>
              <%= f.select(:budget, options_for_select(['500', '1000', '2500', '5000', '7500', '10000', '15000', '20000'], 3),
                        {},
                        class: "chzn-select",
                        style: "width: 150px" )%>
          </div>
          <br>
          <br>

          <%= f.label :number_of_travelers %><br>
          <%= f.select(:number_of_travelers, options_for_select(0..10)) %>
          <br>
          <br>

          <hr>
          <br>

          <h2>Itinerary</h2>
          <% if @attractions %>
            <%= f.collection_check_boxes :attraction_ids, @attractions.uniq, :id, :name do |b| %>
              <div class="collection-check-box" style="font-size:1.25em">
                <%= b.check_box %>
                <%= b.label %>
              </div>
            <% end %>
          <% else %>
            <h4>This vacation doesn't have any attractions yet. Let's add some.</h4>
          <% end %><br>

          <%= f.fields_for @vacation_attraction, url: vacation_vacation_attractions_path(@vacation) do |v| %>
            <p><%= v.label :attraction_id, "Update Attractions" %></p><br>
              <%= v.collection_select :attraction_id, @all_attractions.uniq.sort_by(&:name), :id, :name, prompt: "Select One" %>
          <% end %>
          <br>
          <br>

          <p>or Add a New Attraction<p>


          <br>
          <br>
          <br>

          <hr>

          <br>


          <h2>Travel Dates</h2><br>

          <%= f.fields_for @schedule, url:  new_vacation_schedule_path(@vacation) do |s| %>


          <div class="col-sm-2 d-flex flex-row"></div>
            <div class="col-sm-4 d-flex flex-row">
              <div class="field<%= ' field_with_errors' if @schedule.errors[:departure_city].any? %>">
              <div class="center" style="text-align:center">
                <%= s.label :departure_city %>
                <%= s.text_field :departure_city %>
              </div>
              </div>
              <br>
              <br>`

              <div class="field<%= ' field_with_errors' if @schedule.errors[:departure_date].any? %>">
                <div class="center" style="text-align:center">
                  <%= s.label :departure_date %>
                  <%= s.date_field :departure_date%>
                </div>
              </div>
            </div>


            <div class="col-sm-4 d-flex flex-row">
              <div class="field<%= ' field_with_errors' if @schedule.errors[:return_city].any? %>">
                <div class="center" style="text-align:center">
                  <%= s.label :return_city %>
                  <%= s.text_field :return_city %>
                </div>
              </div>
              <br>
              <br>

              <div class="field<%= ' field_with_errors' if @schedule.errors[:return_date].any? %>">
                <div class="center" style="text-align:center">
                  <%= s.label :return_date %>
                  <%= s.date_field :return_date %>
                </div>
              </div>
              <br>
              <br>
            </div>

            <%= s.hidden_field :vacation_id, :value => @vacation.id %>
            <% end %><br>



          <div class="col-sm-12 d-flex flex-row">
            <hr>
            <br>
            <h2><%= f.submit %></h2><br><br>
            <% end %>
            <br>
            <br>
            <br>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
