<%= render '/vacations/layout' %>

<div class="center" style="text-align:center">
  <div class="container">
    <div class="panel-a" text-black>
      <div class="panel-body">
        <div class="form" style="color:lightblue">
          <h3>Edit Form</h3>
          <h3><%= @user.first_name %>'s next vacation:</h3>
          <h1><%= @vacation.name %></h1>

          <%= form_for @vacation do |f| %>
            <h4><%= f.label :name%><br></h4>
            <%= f.text_field :name %><br><br>          
            <h4><%= f.label :budget%><br></h4>
            <%= f.text_field :budget %><br><br>
            <h4><%= f.label :number_of_travelers %><br></h4>
            <%= f.text_field :number_of_travelers %><br><br><br>
            <%= f.submit %><br><br>
          <% end %>

          <% if @attractions %>
          <h4>Attractions already assigned to this vacation:</h4>
            <% @attractions.uniq.each do |a| %>
              <h3><%= link_to a.name, attraction_path(a) %></h3>
            <% end %>
          <% else %>
            <h4>This vacation doesn't have any attractions yet. Let's add some.</h4>
          <% end %><br><br>

          <h4><%= link_to "Add Attractions", new_vacation_vacation_attraction_path(@vacation) %></h4>

        </div>
      </div>
    </div>
  </div>
</div>
