<%= render '/vacations/layout' %>

<div class="center" style="text-align:center">
  <div class="container">
    <div class="panel-a" text-black>
      <div class="panel-body">
        <div class="form" style="color:lightblue">
          <p>Now editing:</p>
          <h2><%= @vacation.name %></h2>

        <h3>
          <%= form_for @vacation do |f| %>
            <%= f.label :name%><br>
            <%= f.text_field :name %><br><br>
            <%= f.label :budget%><br>
            <%= f.text_field :budget %><br><br>
            <%= f.label :number_of_travelers %><br>
            <%= f.text_field :number_of_travelers %><br><br><br>
            <%= f.submit %><br><br>
          <% end %>
        </h3>

          <% if @attractions %>
          <h4>Attractions already assigned to this vacation:</h4>
            <% @attractions.uniq.each do |a| %>
              <h5><%= link_to a.name, attraction_path(a) %></h5>
            <% end %>
          <% else %>
            <h4>This vacation doesn't have any attractions yet. Let's add some.</h4>
          <% end %><br><br>

          <h4><%= link_to "Edit Attractions", new_vacation_vacation_attraction_path(@vacation) %></h4>

        </div>
      </div>
    </div>
  </div>
</div>
