<%= render '/vacations/layout' %>

<div class="center" style="text-align:center">
  <div class="container">
    <div class="panel-a" text-black>
      <div class="panel-body">
        <div class="form" style="color:lightblue">
          <p>Now editing:</p>
          <h2><%= @vacation.name %></h2>


          <%= form_for @vacation do |f| %>
          <%= f.label :name%><br>
          <%= f.text_field :name %><br><br>
          <%= f.label :budget%><br>
          <%= f.text_field :budget %><br><br>
          <%= f.label :number_of_travelers %><br>
          <%= f.text_field :number_of_travelers %><br><br><br>

          <% if @attractions %>
            <p>Attractions already assigned to this vacation:</p>
            <%= f.collection_check_boxes :attraction_ids, @attractions.uniq, :id, :name do |b| %>
              <div class="collection-check-box">
                <%= b.check_box %>
                <%= b.label %>
              </div>
            <% end %>
          <% else %>
            <h4>This vacation doesn't have any attractions yet. Let's add some.</h4>
          <% end %><br><br>

            <p>Add Attractions</p>
            <%= f.fields_for @vacation.vacation_attractions do |va| %>
              <%= va.hidden_field :vacation_id, :value => @vacation.id %>
              <%= va.collection_select :attraction_id, @all_attractions.uniq.sort_by(&:name), :id, :name %>
            <% end %>


            <%= f.submit %><br><br>
          <% end %>




        </div>
      </div>
    </div>
  </div>
</div>
