<%= render '/vacations/layout' %>

<div class="center" style="text-align:center">
  <div class="container">
    <div class="panel-a" text-black>
      <div class="panel-body">
        <div class="form" style="color:lightblue">

          <h3><%= @user.first_name %>'s next vacation:</h3>
          <h1><%= @vacation.name %></h1>

          <%= form_for [@item, @vacation] do |f| %>
            <h5><%= f.label :budget%><br></h5>
            <%= f.text_field :budget %><br><br>
            <h5><%= f.label :number_of_travelers %><br></h5>
            <%= f.text_field :number_of_travelers %><br><br><br>

            <%= f.submit %><br><br>
          <% end %>


        </div>
      </div>
    </div>
  </div>
</div>
