<%= render 'layout' %>

<div class="center" style="text-align:center">
  <div class="container">
    <div class="panel-a" text-black>
      <div class="panel-body">


        <div class="col-sm-12 d-flex flex-row">
          <div class="text-center">

            <h1><%= @vacation.name %></h1>
            <h3>Budget: $<%= @vacation.budget %></h3>
            <h3>Number of Travelers: <%= @vacation.number_of_travelers %></h3><br>
            <h5>Open to Bids? <%= human_boolean(@vacation.open_to_bids) %></h5><br>

            <% if @attractions %>
            <h1>Itinerary</h1>
              <% @vacation.attractions.uniq.sort_by(&:name).each do |a| %>
                <h4><%= link_to a.name, attraction_path(a) %></h4>
              <% end %>
            <% else %>
              <p>This vacation doesn't have any attractions yet. Click below to add some.</p>
            <% end %><br><br>

            <% if @schedule %>
              Departure city: <%= @schedule.departure_city %><br>
              Departure date: <%= @schedule.departure_date %><br>
              Return city: <%= @schedule.return_city %><br>
              Return date: <%= @schedule.return_date %><br>
            <% end %>



            <h4><%= link_to "Edit Vacation", edit_vacation_path(@vacation) %></h4>
            <p><%= button_to "delete", @vacation, :method => :delete %></p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
