<%= render 'layout' %>

<div class="center" style="text-align:center">
  <div class="container">
    <div class="panel-a" text-black>
      <div class="panel-body">


        <div class="col-sm-12 d-flex flex-row">
          <div class="text-center">

            <h1><%= @vacation.name %></h1>
            <h3>Budget: $<%= @vacation.budget %></h3>
            <h3>Number of Travelers: <%= @vacation.number_of_travelers %></h3><br>
            <h5>Open to Bids? <%= human_boolean(@vacation.open_to_bids) %></h5><br>

            <% unless @vacation.attractions.empty? %>
            <h2>Itinerary</h2>
              <% @vacation.attractions.uniq.sort_by(&:name).each do |a| %>
                <h4><%= link_to a.name, attraction_path(a) %></h4>
              <% end %>
            <% else %>
              <h4>This vacation doesn't have any attractions yet.</h4>
              <h4>Click edit to add some</h4>
            <% end %><br><br>


            <h4><%= link_to "Edit Vacation", edit_vacation_path(@vacation) %></h4>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
