<%= render '/layouts/bucket_list_items' %>
<br><br>
<div class="center" style="text-align:center">
  <div class="container">
    <div class="panel-a" text-black>
      <div class="panel-body">
        <div class="form" style="color:midnightblue">


        <%= form_for bucket_list_item do |f| %>
        <div class="field<%= ' field_with_errors' if bucket_list_item.errors[:name].any? %>">
          <div class="center" style="text-align:center">
          <%= f.label :name %><br>
          <%= f.text_field :name %>
          </div>
        </div>

          <br><br>
          <div class="field<%= ' field_with_errors' if bucket_list_item.errors[:notes].any? %>">
            <div class="center" style="text-align:center">
              <%= f.label :notes %><br>
              <%= f.text_area :notes %>
            </div>
          </div>

          <br><br>
          <%= f.hidden_field :user_id, :value => user.id %>
          <div style="color:black">
          <%= f.submit %>
          </div>
        <% end %>
        <br><br><br><br><br>


      </div>
    </div>
  </div>
</div>
