<div class="container">
  <div class="panel-a" text-black>
    <div class="panel-body">
      <div class="form" style="color:lightblue">
      <%= form_for @item do |f| %>
        <h1><%= @item.title %><br></h1>

        <br><br>
        <%= f.label :attraction_ids, "Add Attractions" %><br>
        <%= f.collection_select :attraction_ids, @attractions, :id, :name %>
        <br><br>

        <div style="color:black">
        <%= f.submit "Add Attractions", '/add_attractions' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
