<%= render 'layout' %>
<br>
<br>
<br>
<br>
<br>
<div class="center" style="text-align:center">
  <div class="container">
    <div class="panel-a" text-black>
      <div class="panel-body">
        <h1><%= @user.first_name %>'s bucket list</h1>
        <% if @dreams.empty? %>
          <h3>Looks like your bucket list is empty! Let's fix that.</h3>
        <% else %>
          <p>Click on a bucket list item to edit, delete, or turn it into a vacation!</p>
          <br>
          <% @dreams.each do |dream| %>
            <h3><%= link_to dream.name, bucket_list_item_path(dream) %></h3>
          <% end %>
        <% end %>
        <br>
        <div class="black_button">
          <p><%= button_to "Add to my bucket list", new_bucket_list_item_path, method: :get %></p>
          <br><br><br>
        </div>

        <hr>
        <% if @vacations %>
        <h2>Bucket list items you've aleady turned into vacations:</h2>
        <p>Click any one for details:</p>
        <br>
        <br>
          <% @vacations.each do |v| %>
            <h3><%= link_to v.name, vacation_path(v) %></h3>
          <% end %>
        <% end %>


      </div>
    </div>
  </div>
</div>
