<%= render 'layout' %>

<div class="center" style="text-align:center">
  <div class="container">
    <div class="panel-a" text-black>
      <div class="panel-body">
        <div class="form" style="color:darkgrey">


          <br><br>
          <h1><%= @item.name%></h1>
          <h3>Notes: <%= @item.try(:notes)  %></h3>

          <%= render '/bucket_list_items/nav' %>
          <br>
          <br>
          <br>



          <h3><%= link_to "Ready to make this real? Click here.", new_bucket_list_item_vacation_path(@item) %><br><br>

<hr>

          <% if @vacations %>
          <p>Here are the bucket list items you've aleady turned into vacations:</p>
            <% @vacations.each do |v| %>
              <h3><%= link_to v.name, vacation_path(v) %></h3><br>
            <% end %>
          <% end %>






          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
