<%= render '/layouts/users' %>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="center" style="text-align:center">
  <div class="container panel-a panel-body">
    <div class="text-center">
      <br>
      <br>

      <h1>Welcome, <%= @user.first_name %>! </h1>
      <h5>What would you like to do? </h5>
      <br>
      <br>

      <h3>
        <div style="color:white">
          <%= link_to "Visit My Bucket List", bucket_list_items_path %>
        </div>
      </h3><br>
      <!-- <h4><%= link_to "Register as a bidder", new_bidder_path %></h4><br> -->
      <br>
      <br>
      <br>

      <hr>
      <br>
      <br>

      <h5>
        <h2>Account Information</h2> <br>
        First Name: <%= @user.first_name %><br>
        Last Name: <%= @user.last_name %><br>
        Email:  <%= @user.email %><br>
        <br>
        <br>
        <h5><%= link_to "Edit My Account Information", edit_user_registration_path(@user) %></h5>
        <br>
        <br>
      </h5>

    </div>
  </div>
</div>
