<div class="container">
  <div class="panel-a" text-black>
    <div class="panel-body">
      <div class="form" style="color:lightblue">

        <%= form_for @item do |f| %>
          <%= @item.title %>
          <%= @item.try(:notes) %>

          <%= f.label :attraction, "Add Attractions" %><br>
          <%= f.collection_select :attraction_ids, @attractions, :id, :name %>
          <br><br>


          <%= f.submit "Update Attractions"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
