<div class="center" style="text-align:center">
  <div class="container">
    <div class="panel-a" text-black>
      <div class="panel-body">
        <div class="form" style="color:lightblue">

            <h1><%= @item.title %></h1>
            <p><%= @item.try(:notes) %></p>
            <br>
            <%= form_for @item do |f| %>
              <h4><%= f.label :attraction_ids, "Add Attractions" %></h4><br>
              <%= f.collection_select :attraction_ids, @attractions, :id, :name %>
              <br><br><br>
              <h5><%= f.submit %></h5>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
