<div class="center" style="text-align:center">
  <div class="container">
    <div class="panel-a" text-black>
      <div class="panel-body">
        <div class="form" style="color:lightblue">

            <h1><%= item.title %></h1>
            <p><%= item.try(:notes) %></p>
            <br>

            <%= form_for bucket_attraction, url: bucket_list_item_bucket_attractions_path do |f| %>
              <h4><%= f.label :attraction_id, "Add Attractions" %></h4><br>
              <%= f.collection_select :attraction_id, attractions, :id, :name %>
              <br><br><br>
              <h5><%= f.submit %></h5>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
