<style>
  body {
  background: url(<%= @category.image %>) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }


.panel-a {
  background: rgb<%= @category.panel_a_rgb %>
  }

</style>

<br>
<br>
<br>
<br>
<div class="center" style="text-align:center">
  <div class="container panel-a panel-bodyr">
    <div class="col-sm-12 d-flex flex-row">
      <div class="text-center">

        <h1><%= @category.name %></h1>


        <hr>
        <h2>Public</h2>
        <br>
          <% @category.public_attractions.sort_by(&:name).each do |a| %>
            <div id="attraction-<%= a.id %>">
              <h3><%= link_to a.name, attraction_path(a) %></h3>
            </div>

          <% end %>

        <br>
        <br>
        <br>

        <hr>
        <h2>Private</h2>
        <br>
        <% @category.private_attractions.sort_by(&:name).each do |a| %>
          <h3><%= link_to a.name, attraction_path(a) %></h3>
        <% end %>

        <br>
        <br>

        <h5><%= link_to "Add new attraction", new_attraction_path %></h5>
      </div>
    </div>
  </div>
</div>
