<!DOCTYPE html>
<html>
  <head>
    <title>Vacation Bidder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <header>
<br>


    <nav>
      <div id="navbar"
        <div class="text-center">
          <% if current_user %>
            <%= link_to "My Bucket List", bucket_list_items_path, class: 'nav_element'  %>
            <%= link_to "My Vacations", vacations_path, class: 'nav_element' %>
            <%= link_to "Inspire Me", categories_path, class: 'nav_element' %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'nav_element' %>
          <% end %>
        </div>
      </div>
    </nav>

</header>

  <body>
    <br><br>

    <div class="col-sm-12 d-flex flex-row">
      <div class="flash">
        <div class="text-center">
          <% flash.each do |key, value| %>
            <div class="<%= flash_class(key) %>">
              <%= value %>
            </div>
          <% end %>
        </div>
      </div>
    </div>


    <%= yield %>


    <script>
      window.onscroll = function() {myFunction()};

      var navbar = document.getElementById("navbar");
      var sticky = navbar.offsetTop;

      function myFunction() {
        if (window.pageYOffset >= sticky) {
          navbar.classList.add("sticky")
        } else {
          navbar.classList.remove("sticky");
        }
      }
    </script>
  </body>
</html>
