<%= render '/layouts/attractions' %>


<div class="center" style="text-align:center">
  <div class="container panel-a panel-body">

    <div class="col-sm-12 d-flex flex-row">
      <div class="text-center">
        <h1><%= @attraction.name %></h1>
        <br>
        <br>

        <h2>Categories</h2>
        <% @attraction.categories.uniq.each do |c| %>
        <h5><%= link_to c.name, category_path(c) %></h5>
        <% end %>
        <br>
        <br>
        <h2>Location</h2>
        <h4>
          <%= @attraction.city %>
          <%= @attraction.state %>
          <%= @attraction.county%>
          <%= @attraction.country %>
        </h4>
        <br>

        <div style="color:midnightblue">
          <% if @attraction.website != "" %>
            <h4><%= link_to "visit website", @attraction.website %></h4>
          <% else %>
            <h4>No website listed</h4>
          <% end %>
        </div>
        <br>
        <br>

        <% if @user_attraction %>
          <h2>My Notes</h2>
          <h4><%= @user_attraction.notes %></h4>
        <% end %>

        <br>
        <br>
        <br>
        <hr>
        <br>
        <br>
        
        <%# for public attractions already collected %>
        <% if @attraction.users.include?(current_user) && @attraction.public %>
          <h5><%= link_to "add or update notes", edit_attraction_path(@attraction) %></h5>
          <br>
          <h5><%= link_to "Remove from my collection", attraction_user_attraction_path(@attraction), method: :delete %></h5>
          <br>
          <h5><%= link_to "Add more attractions to my collection", categories_path %></h5>

        <%# for public attractions not yet collected%>
        <% elsif @attraction.public && !@attraction.users.include?(current_user) %>
          <%= form_for @attraction do |f| %>
            <% f.fields_for @user_attraction, url: attraction_user_attractions_path(@attraction) do |ua| %>
              <%= ua.hidden_field :attraction_id, value: @attraction.id %>
              <%= ua.hidden_field :user_id, value: current_user.id %>
              <%= ua.submit "Add to my collection" %>
            <% end %>
          <% end %>

        <%# for a user's private attractions %>
        <% elsif @attraction.created_by == current_user.id && @attraction.public == false %>
          <h5><%= link_to "edit", edit_attraction_path(@attraction) %></h5>
          <br>
          <p><%= link_to "delete", attraction_path(@attraction), method: :delete, data: { confirm: "Are you sure? This can't be undone!" } %></p>

        <% end %>
        <br>
        <br>
        <br>





      </div>
    </div>
  </div>
</div>
