<%= render 'layout' %>


<div class="center" style="text-align:center">
  <div class="container">
    <div class="panel-a">
      <div class="panel-body">
        <div class="col-sm-12 d-flex flex-row">
          <div class="text-center">
            <h1><%= @attraction.name %></h1>
            <br>
            <br>

            <h2>Categories</h2>
            <% @attraction.categories.uniq.each do |c| %>
            <h5><%= link_to c.name, category_path(c) %></h5>
            <% end %>
            <br>
            <br>
            <h2>Location</h2>
            <h4>
              <%= @attraction.city %>
              <%= @attraction.state %>
              <%= @attraction.country %>
            </h4>
            <br>
            <br>


            <div style="color:midnightblue">
              <%= button_to "Website", @attraction.website %>
            </div>

            <br>
            <h2>Notes </h2>
            <h5><%= @attraction.notes %></h5>
            <br>
            <br>

            <!-- #can't make button white? -->
            <h1><%= link_to "Edit", edit_attraction_path(@attraction) %></h1>
            <p><%= link_to "delete", @attraction, :method => :delete, data: {confirm: "Are you sure? This can't be undone!"} %></p><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
